* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

header, nav, section, footer, aside {
    
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}


.container {
    width: 60%;
    height: 100%;
    margin: auto;
    background-color: rgb(255, 255, 255);
}


header {
    background-image: url(imatges/cap2.jpg);
    height: 15%;
    margin-bottom: 10px;
}

.container-header {
    width: 100%;
    display: flex;
}

.nav-logo {
    width: 210px;
    padding: 32px 0px 0px 30px;

}

.xarxessocials {
    width: 100%;
    margin: auto;
    text-align: end;
    padding-right: 25px;
    font-size: 30px;
    
}


nav {
    background-color: rgb(150, 150, 25);
    height: 5%;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
   
}

nav ul li {
    width: 100%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-right: solid 3px rgb(255, 255, 255);

}

nav ul.nav-menu {
    width: 100%;
    justify-content: space-between;

}


aside {
    background-color: rgb(88, 88, 82);
    height: 20%;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

aside ul.aside-menu {
    width: 100%;
    height: 100%;
    justify-content: space-between;
   
}

aside ul li {
    width: 32%;
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-right: solid 3px rgb(170, 177, 174);
}

/*
.destacats {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.destacats img {
    width: 100%;
    height: 180px;
}
*/


article {
    width: 60%;
    background-color: rgb(88, 88, 82);
    margin: auto;
    height: 100%;
    padding: 15px;
}

.entrades {
    font-size: 14px;
    text-align: justify;
    display: grid;
}

.entrades img {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}




section {
    height: 53%;
    background-color: rgb(170, 177, 174);
    margin-bottom: 10px;
}

footer {
    height: 7%;
    background-color: rgb(88, 88, 82);
    padding: 5px;
    font-size: 12px;
    text-align: center;
}



a {
    text-decoration: none;
    color: black;
}


