* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}

header, nav, section, footer, aside {
    
}

header {
    background-color: rgb(88, 88, 82);
    height: 15%;
    margin-bottom: 10px;
}

nav {
    background-color: rgb(170, 177, 174);
    height: 5%;
    margin-bottom: 10px;
    padding: 15px;
}

nav ul li {
    display: inline-block; 
}

aside {
    background-color: rgb(170, 177, 174);
    height: 20%;
    margin-bottom: 10px;
    padding: 15px;
}

article {
    width: 60%;
    background-color: rgb(88, 88, 82);
    margin: auto;
    height: 100%;
    padding: 15px;
}

section {
    height: 50%;
    background-color: rgb(170, 177, 174);
    margin-bottom: 10px;
}

footer {
    height: 10%;
    background-color: rgb(88, 88, 82);
    padding: 15px;
}

body {
    background-color: rgb(216, 212, 208);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 70%;
    height: 900px;
    margin: auto;
    background-color: gray;
}

.container-header {
    
}

.nav-menu-xarxessocials {
 
}

.nav-logo {
    width: 150px;
    padding: 15px 10px 10px 30px;

}